<!DOCTYPE html>
<html>
<head>
   <title>Jovian Careers</title>
  <style> 
  h1{
    font-size: 40px;
    font-family: Roboto;
    font-weight: normal;
    color: rgb(100,100,100);
    text-align: center;
  }
    #banner{
      width: 100%;
      height: 360px;
      object-fit: cover;
     }
    p{
      color: rgb(80,80,80);
      font-family: Roboto;
    }
  </style>
</head>
<body>
  <h1>Jovian Careers</h1>
   
   <img id="banner"   src ="https://10eb7971-5a72-40e8-bca8-8b67648ffe7a-00-37jxho6enllqh.pike.replit.dev/static/image.jpg" height="320">
    <h2>About Jovian </h2>
    <p>Lorem ipsum dolor sit amet. Qui praesentium iste ut esse commodi aut quidem veritatis. Ab vero quisquam aut excepturi nostrum 33 quisquam numquam ab excepturi tenetur ea culpa quia. Qui magnam incidunt et autem aliquid aut unde possimus id tenetur quod At mollitia obcaecati et harum similique. </p><p>33 animi autem est debitis odio rem excepturi maiores et beatae esse. Non nihil voluptatem ut sint similique aut quaerat maiores id voluptatem porro eum quisquam rerum qui dolor neque qui maiores quisquam. Est sunt eligendi est itaque galisum aut quia doloribus et dolorem temporibus et nisi fugit qui libero voluptas 33 autem molestiae. </p><p>Aut dicta laboriosam vel excepturi placeat quo officia quas eos dolorem repellendus et unde harum est enim repellat. Nam debitis explicabo 33 eaque tempora aut aspernatur quae. </p>
    <h2>Open Positions</h2>
    <p> TODO - show job opening here </p>
     <button> Contact us </button>
  </body>
</html>